@Master['Layout.html']

@Section['Content']
<!-- ko with: question-->
    <header class="container">
        <h2 data-bind="text: text"></h2>
    </header>

<section id="currentQuestions" class="container">
    <div class="row">
        <div class="col-lg-10">
            <table class="table table-striped question-list">
                <thead>
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Votes</th>
                        <th>Answer</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: answers">
                    <tr data-bind="css: { leading: $parent.getLeadingAnswer() == $data }">
                        <td class="text-center"><button class="btn btn-sm btn-primary" data-bind="click: addVote">Vote</button></td>
                        <td class="number-of-votes" data-bind="text: votes"></td>
                        <td>
                            <div class="answer" data-bind="text: text"></div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <form class="form-horizontal" action="" data-bind="submit: addAnswer">
                                <div class="input-group">
                                    <input type="text" placeholder="New answer" class="form-control" data-bind="value: newAnswer">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<!-- /ko -->
@EndSection

@Section['Scripts']

<script type="text/javascript">
    ///<reference path="/Scripts/app/questionService.js"/>
    function QuestionViewModel(model) {
        var self = this;

        self.text = model.Text;

        self.answers = ko.observableArray(
            $.map(model.Answers, function(el) { return new AnswerViewModel(el); })
        );

        self.newAnswer = ko.observable();

        self.addAnswer = function () {
            var text = self.newAnswer();
            QuestionService.addAnswer(model.QuestionId, text).success(
                function(data) {
                    self.answers.push(new AnswerViewModel(data));
                    self.newAnswer('');
                }
            );
        };

        self.getLeadingAnswer = function () {
            var leadingAnswer = null;
            for(var i in self.answers())
            {
                var answer = self.answers()[i];
                if (leadingAnswer == null || leadingAnswer.votes() < answer.votes()) {
                    leadingAnswer = answer;
                }
            }
            return leadingAnswer;
        };
    }
    
    function AnswerViewModel(model) {
        var self = this;

        self.text = model.Text;
        self.votes = ko.observable(model.Votes);
        
        self.addVote = function () {
            self.votes(self.votes() + 1);
        };
    }

    function PageViewModel() {
        var self = this;

        self.question = ko.observable();
        
        self.reloadQuestion = function() {
            QuestionService.getQuestion('@Model.QuestionId')
                .success(function (data) {
                    self.question(new QuestionViewModel(data));
                });
        };
        
        self.reloadQuestion();
    }
    
    $(function () {
        var pageViewModel = new PageViewModel();

        ko.applyBindings(pageViewModel);
    });

</script>

@EndSection

